<script type="text/javascript"></script>
{% extends "partition/layout.html" %} {% block body %}

<!-- Breadcrumb -->


<!-- /Title -->
 
<br>
<!-- Row -->

<!-- /Main Content -->
<section class="content">

    <div class="row">
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12" style="width:20%" style="width:20%">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Players</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12" style="width:20%">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-gamepad"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Game Played</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
       
        <div class="col-md-3 col-sm-6 col-xs-12" style="width:20%">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Active Palyer</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" style="width:20%">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Inactive Palyer</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
         <!-- /.col -->
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12" style="width:20%">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Guest Player</span>
                    <span class="info-box-number">0</span>
                </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
    <!-- /.row -->

    {#
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Monthly Recap Report</h3>
                    <div class="box-tools pull-right">
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    <strong>Game Played By User from: Jan, {{curentYear}} - Today </strong>
                                </p>
                                <div class="chart">
                                    <!-- Sales Chart Canvas -->
                                    <canvas id="monthlyPlayedGameChart" style="height: 180px;"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Live Memory Usage</h3>
                        <div class="box-tools pull-right">
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong> Memory Usage By Game Play </strong>
                                    </p>
                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="memoryUsage" style="height: 180px;"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>

                    </div>
                </div>
            </div> #}
            <!-- /.row -->
            <!-- Main row -->
         
            
            <!-- /.row -->
</section>
<!-- /.content -->
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<!-- /.content-wrapper -->

<!-- Footer -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2020-2021 <a href="#">Casino Game</a>.</strong> All rights reserved.
</footer>
<!-- /Footer -->

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {

        var host = window.location.origin;

        $('#myTable').DataTable({
            // "scrollX": true,
            "searching": false,
            // "ajax": host + "/game/history",
            "columns": [{
                "data": "gameNumber"
            }, {
                "data": "smallBlind"
            }, {
                "data": "bigBlind"
            }, {
                "data": "status"
            }, {
                "data": "pot"
            }]
        });


        // Game Play Chart
        var theMonths = ["January", "February", "March", "April", "May",
            "June", "July", "August", "September", "October", "November", "December"
        ];
        var labels = [];
        for (var i = 0; i <= 11; i++) {
            labels.push(theMonths[i]);
        }
      let chips = $('#chips').val()
        var host = window.location.origin;
        if ($('#monthlyPlayedGameChart').length > 0) {
            // Get context with jQuery - using jQuery's .get() method.
            var GameCanvas = $('#monthlyPlayedGameChart').get(0).getContext('2d');
            // This will get the first returned node in the jQuery collection.

            $.ajax({
                type: 'GET',
                url: host + "/dashboardChart/getMonthlyPlayedGameChart",
                success: function(res) {},
                complete: function(data) {

                    var gameConfig = {
                        type: 'line',
                        data: {
                            labels: labels,

                            datasets: [{
                                label: 'Game Played By Player',
                                backgroundColor: "#3b8bba",
                                borderColor: "rgba(60,141,188,0.8)",
                                data: data.responseJSON,
                                fill: true,
                            }],
                        },
                        options: {
                            display: false,
                            responsive: true,
                            legend: {
                                //position: 'top',
                                display: false,
                            },
                        }
                    };
                    var chart = new Chart(GameCanvas, gameConfig)

                }
            })

        }

        // Platform Chart
        window.onload = function(){
    var customDates = document.getElementsByClassName('chips');
    console.log("customDates",customDates);
    for (var i = 0; i < customDates.length; i++) {
    document.getElementsByClassName('chips')[i].innerHTML = parseFloat(customDates[i].innerHTML).toFixed(2)
    }
}
        if ($('#gameUsages').length > 0) {
            $.ajax({
                type: 'GET',
                url: host + "/dashboardChart/getGameUsageChart",
                success: function(res) {},
                complete: function(data) {

                    var pieChartCanvas = $('#gameUsages').get(0).getContext('2d');

                    let webCount = 0;
                    let androidCount = 0;
                    let iosCount = 0;
                    console.log(data.responseJSON);
                    if (data.responseJSON && data.responseJSON.android.length > 0) {
                        androidCount = data.responseJSON.android[0].count
                    };
                    if (data.responseJSON && data.responseJSON.ios.length > 0) {
                        iosCount = data.responseJSON.ios[0].count
                    };
                    /* if ( ('android' in data.responseJSON)) {
                        androidCount=data.responseJSON.android[0].percentage 
                    }
                     if ( ('ios' in data.responseJSON)) {
                        iosCount=data.responseJSON.ios[0].percentage
                    } */
                    $('.chartAndroid').html(androidCount);
                    $('.chartIos').html(iosCount);


                    var config = {
                        type: 'doughnut',
                        data: {
                            datasets: [{
                                data: [
                                    webCount,
                                    androidCount,
                                    iosCount,
                                ],
                                backgroundColor: [
                                    "#f56954",
                                    "#00a65a",
                                    "#f39c12"
                                ],
                            }],
                            labels: [
                                'Web',
                                'Android',
                                'IOS',
                            ]
                        },
                        options: {
                            display: false,
                            responsive: true,
                            legend: {
                                //position: 'top',
                                display: false,
                            },
                            animation: {
                                animateScale: false,
                                animateRotate: true,
                                animationSteps: 100,
                                animationEasing: 'easeOutBounce',
                            },
                            segmentShowStroke: true,
                            segmentStrokeColor: '#fff',
                            segmentStrokeWidth: 1,
                            percentageInnerCutout: 50, // This is 0 for Pie charts
                            maintainAspectRatio: false,
                            tooltipTemplate: '<%=value %> <%=label%> users'
                        }
                    };

                    var myDoughnutChart = new Chart(pieChartCanvas, config);


                }
            })
        }



        /*
        		var theMonths = ["January", "February", "March", "April", "May",
        		  "June", "July", "August", "September", "October", "November", "December"];
        		var labels =[];
        		for (var i = 0; i <= 11; i++) {
        		  labels.push(theMonths[i]);
        		}

        		var host = window.location.origin;

        		if( $('#monthlyPlayedGameChart').length > 0 ){
        		  // Get context with jQuery - using jQuery's .get() method.
        		  var GameCanvas = $('#monthlyPlayedGameChart').get(0).getContext('2d');
        		  // This will get the first returned node in the jQuery collection.
        		  
        			$.ajax({
        			    type: 'GET',
        			    url :host + "/dashboardChart/getMonthlyPlayedGameChart",
        			    success:function(res){
        			    },
        			    complete: function(data){
        						
        				    var gameConfig = {
        				   	  	type: 'line',
        				   	  	data: {
        				   	  		labels  : labels,
        				   	  		
        				   	  		datasets: [{
        				   	  			label               : 'Game Played By Player',
        				   	  			backgroundColor: "#3b8bba",
        				   	  			borderColor: "rgba(60,141,188,0.8)",
        				   	  			data:  data.responseJSON,
        				   	  			fill: true,
        				   	  		}],
        				   	  	},
        				   	  	options: {
        				   	  		display: false,
        				   	  		responsive: true,
        				   	  		legend: {
        				   	  			//position: 'top',
        				   	  			display: false,
        				   	  		},
        				   	  	}
        				   	};
        				    var chart = new Chart(GameCanvas, gameConfig)
        			      
        			    }
        			})

        		}

        */
        // Memory Usage Chart

        //
        let ctx = $('#memoryUsage').get(0).getContext('2d');

        let data = {
            labels: ['Start'],
            datasets: [{
                data: [0],
                label: 'RSS',
                backgroundColor: '#ff6600',
                fill: false,
            }, {
                data: [0],
                label: 'HEAP',
                backgroundColor: '#4543b5',
                fill: false
            }]
        }


        let optionsAnimations = {
            animation: false,
        }
        let chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: optionsAnimations
        })

        const socket = io(host);

        socket.emit('dashboardconnection', "Hi Server")
        socket.on('live_memory', function(responce) {
            var length = data.labels.length
            if (length >= 60) {
                data.datasets[0].data.shift();
                data.datasets[1].data.shift();
                data.labels.shift()
            }

            data.labels.push(moment().format('mm:ss'))
            data.datasets[0].data.push(responce.rss);
            data.datasets[1].data.push(responce.heap)
            chart.update()
        })
    });
</script>

{% endblock %}