{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>Payout Name table</h1>
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/payoutMaster/{{gameId}}"><span>Payout Name Master</span></a></li>
                {% if payout %}
                <li class="active"><span>Edit Payout Name</span></li>
                {% else %}
                <li class="active"><span>Add Payout Name</span></li>
                {% endif %}

            </ol>
        </section>
        <!-- /Title -->
        <!-- Row  -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if payout %}
                                <h6 class="panel-title txt-dark">Edit Payout Name</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">Add Payout Name</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="form-wrap">
                                            {% if payout %}
                                            <form method="POST" action="/postEditPayout/{{payout.id}}" name="" class="form-horizontal">
                                                {% else %}
                                                <form method="POST" action="/postAddPayout" name="" class="form-horizontal">
                                                    {% endif %}
                                                    <div class="form-group">
                                                        <input type="hidden" name="gameId" value="{{gameId}}">
                                                        <label for="exampleInputuname_3" class="col-sm-3 control-label">Name*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                <input type="text" class="form-control" id="name" placeholder="Enter name" required name="name" value="{{payout.name}}" data-validation="length alphanumeric" data-validation-allowing=" -_/*\ " data-validation-length="" data-validation-error-msg="Name is required">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputuname_3" class="col-sm-3 control-label">Minimum*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                <input type="text" class="form-control" id="minimum" placeholder="Enter minimum" required name="minimum" value="{{payout.minimum}}" data-validation="number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputuname_3" class="col-sm-3 control-label">Maximum*</label>
                                                        <div class="col-sm-6">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                <input type="text" class="form-control" id="maximum" placeholder="Enter Maximum" required name="maximum" value="{{payout.maximum}}" data-validation="number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <div class="col-sm-offset-3 col-sm-9">
                                                            <input type="submit" class="btn btn-success btn-flat" value="submit">
                                                        </div>
                                                    </div>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->

                <!-- /Row -->
            </div>
        </section>

    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
    });
</script>
{% endblock %}