{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>Bet Master</h1>
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/gameMaster"><span>Slot Game Master</span></a></li>
                <li><a href="#"><span>Bet Master</span></a></li>
            </ol>
        </section>
        <!-- /Title -->
         
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h6 class="panel-title txt-dark">Bet Master</h6>
                            </div>
                            {%if roleData[0] == "add" or role == "admin"%}
                            <div class="pull-right">
                                <a href="/addBet/{{gameId}}"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Bet</button></a>
                            </div>
                            {%endif%}
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <input type="hidden" name="gameId" value="{{gameId}}" id="gameId">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Chips</th>
                                                    <th>Jackpot Eligible</th>
                                                    <th>Modify</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        var gameId = $("#gameId").val();
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search Username"
            },
            // "scrollX": true,
            // "searching": false,
            "searching": false,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            "ajax": host + "/getBet/" + gameId,
            "columns": [
                // { "data": "_id" },
                {
                    "data": "id"
                }, {
                    "data": "chips"
                }, {
                    "data": "jackpot_eligible"
                }, {
                    "data": "action",
                    render: function(data, type, row) {
                        return '<div class="dropdown show">{%if (roleData[1] == "edit") or (role == "admin")%}<a class="btn btn-warning btn-xs btn-rounded" href="/editBet/' + gameId + '/' + row.id + '"><i class="fa fa-edit" aria-hidden="true"></i></a>{%endif%}{%if (roleData[2] == "delete") or (role == "admin")%} <button type="button" title="Delete Player" name="delete" id="' + row.id + '" class="btn btn-danger btn-xs btn-rounded delete"><i class="fa fa-trash" aria-hidden="true"></i></button>{%endif%}</div>'
                    }
                }
            ]
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        console.log("this data  -------------->", this);
                        var thisElement = this;
                        console.log("player data  -------------->", thisElement);
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this bet!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel plx!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/betDelete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().parent().hide(700);
                                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Bet Deleted Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Bet Not Deleted)", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}